      <!-- FOOTER -->
      <footer>
      <!-- Breadcrumbs -->
	  {% if page.url != './/' %}
      <ul class="breadcrumb">
  		<li><a href="/">{{ page.name }}</a> <span class="divider">/</span></li>
  		{% for parent in page.parents %}
  		<li><a href="/{{ parent.permalink }}">{{ parent.slug | lower }}</a> <span class="divider">/</span></li>
  		{% endfor %}
  		<li class="active">{{ page.slug | lower }}</li>
	  </ul>
        <p class="pull-right"><a href="#">Back to top</a></p>
	  {% endif %}
      </footer>
    </div><!-- /.container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/public/docs/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

<script src="https://github.com/downloads/processing-js/processing-js/processing-1.4.1.min.js"></script>
<script src="/public/docs/js/vendor/bootstrap.min.js"></script>

<script src="/public/docs/js/main.js"></script>

<script>

  !function ($) {
  	
	  	(function($){
	 
	    $.fn.shuffle = function() {
	 
	        var allElems = this.get(),
	            getRandom = function(max) {
	                return Math.floor(Math.random() * max);
	            },
	            shuffled = $.map(allElems, function(){
	                var random = getRandom(allElems.length),
	                    randEl = $(allElems[random]).clone(true)[0];
	                allElems.splice(random, 1);
	                return randEl;
	           });
	 
	        this.each(function(i){
	            $(this).replaceWith($(shuffled[i]));
	        });
	 
	        return $(shuffled);
	 
	    };
 
	})(jQuery);
    
    $(function(){

		// CAROUSEL

		$('.carousel').carousel({
		  interval: 7000,
		  pause:''
		});
		
		centerImage();

		function removeLoader() {
			$('.carousel-loader').remove();
		}
		
		function shuffleElements(){
			$('.carousel-shuffle .item:not(.active)').shuffle();
			$('.carousel-shuffle').removeClass('carousel-shuffle');
		}

		function centerImage() {
			var imageWidth, imageHeight, wrapperWidth, wrapperHeight, overlap;
			var container = $('.carousel .item');
			wrapperHeight = $('.carousel').height();
		        wrapperWidth = $('.carousel').width();
			$( '.carousel .item img' ).each(function( index, elem ) {
				// this: the current, raw DOM element
				// index: the current element's index in the selection
				// elem: the current, raw DOM element (same as this)
				imageHeight = $( elem ).height();
				imageWidth = $( elem ).width();
				if(imageHeight == 0){
					$( elem ).parent().addClass('measuring');
					imageHeight = $( elem ).height();
					imageWidth = $( elem ).width();
					$( elem ).parent().removeClass('measuring');
				}
				var imageAspect = imageHeight / imageWidth;
				var wrapperAspect = wrapperHeight / wrapperWidth;
				if (imageAspect > wrapperAspect){
                                            $( elem ).removeClass('horisontal-center');
                                            $( elem ).addClass('vertical-center');
            	                        imageHeight = $( elem ).height();
    	                                imageWidth = $( elem ).width();
                                        if(imageHeight == 0){
                            	                $( elem ).parent().addClass('measuring');
                    	                        imageHeight = $( elem ).height();
            	                                imageWidth = $( elem ).width();
    	                                        $( elem ).parent().removeClass('measuring');
                                        }
					overlap = (wrapperHeight - imageHeight) / 2;
					$( elem ).css('margin-top', overlap);
					$( elem ).css('margin-left','');
				} else {
                                            $( elem ).removeClass('vertical-center');
                                            $( elem ).addClass('horisontal-center');
					overlap = (wrapperWidth - imageWidth) / 2;
					imageHeight = $( elem ).height();
                                            imageWidth = $( elem ).width();
                                            if(imageHeight == 0){
                                                    $( elem ).parent().addClass('measuring');
                                                    imageHeight = $( elem ).height();
                                                    imageWidth = $( elem ).width();
                                                    $( elem ).parent().removeClass('measuring');
                                            }
					$( elem ).css('margin-top', '');
                                        $( elem ).css('margin-left', overlap);
				}
			});
		}
		
		$(document).ready(function() {
			
			$(window).on("load resize", centerImage);
			
			$(window).on("load", shuffleElements);
			
			
			$('.carousel').on("slid", centerImage);
			$('.carousel').on("slid", removeLoader);
			
			centerImage();

			// TAG TOOLTIPS
			
			$("a.tag[rel=tooltip]")
	      	.tooltip({
	      		delay: { show: 100, hide: 500 }
	      	})
	      	.click(function(e) {
	      		if($(this).hasClass('in')){
	      			$(this).removeClass('in');
	      		} else {
		      		$("a.tag[rel=tooltip].in").removeClass('in').tooltip('hide');
		      		$( this ).addClass('in');
	      		}
	      		//this.popover('show');
	      		e.preventDefault()
	      	})
	      	.mouseenter(function(){
	      		var tag = $(this).data('tag');
	      		$("a.tag[data-tag='"+ tag +"']").fadeTo('fast',1.0);
	      	})
	      	.mouseleave(function(){
	      		var tag = $(this).data('tag');
	      		$("a.tag[data-tag='"+ tag +"']").fadeTo('slow',0.4);
	      	});
		
			// VIDEO resizing
			
			$(function() {
			    
			    var $allVideos = $("iframe[src^='http://player.vimeo.com'], iframe[src^='http://www.youtube.com'], object, embed");
				    	
				$allVideos.each(function() {
				
				  $(this)
				    // jQuery .data does not work on object/embed elements
				    .attr('data-aspectRatio', this.height / this.width)
				    .removeAttr('height')
				    .removeAttr('width');
				
				});
				
				$(window).resize(function() {
				
				  $allVideos.each(function() {
					var newWidth = $(this).parent().width();
				    var $el = $(this);
				    $el
				        .width(newWidth)
				        .height(newWidth * $el.attr('data-aspectRatio'));
				  
				  });
				
				}).resize();
			
			});
						
		});
	})
		
  }(window.jQuery)
</script>

<script>
    var _gaq=[['_setAccount','UA-1026883-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
