 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <title>{{ page.name }}{% if ".//" != page.url %} &gt; {{ page.title | lower }} {% endif %}</title>

 <meta name="author" content="ole kristensen">
 <meta name="description" content="I make software art, build electronic stuff and teach creative programming">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
 <meta property="og:type" content="portfolio" />
 <meta property="og:title" content="ole kristensen" />
 <meta property="og:description" content="software artist" />
 <meta property="og:url" content="http://ole.kristensen.name/" />
 <meta property="og:site_name" content="ole kristensen" />
 <meta name="twitter:site" content="@olefab" />
 
 <link rel="alternate" type="application/atom+xml" href="{{ page.root_path }}/feed/">
 <link rel="stylesheet" href="{{ page.root_path }}/public/docs/css/bootstrap.min.css">

 <script type="text/javascript" src="//use.typekit.net/ofn6bfj.js"></script>
 <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

 <link rel="stylesheet" href="{{ page.root_path }}/public/docs/css/main.css">