<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

      	{% include 'partials/head.html' %}

		<style>
			.container.marketing {
				margin-top:90px;
				
			}
		</style>

	</head>
    <body>

      	{% include 'partials/navigation/navigation.html' %}

	    <div class="container marketing">

	      <div class="featurette">
	        <img class="featurette-image pull-right" src="{{ page.thumb }}">
	        <h2 class="featurette-heading">{{ page.title }} <span class="muted">{{ page.subtitle }}</span></h2>
	        {{ page.lead }}
	      </div>
          {% include 'partials/assets/images.html' %}
	      {{ page.content }}
          {% include 'partials/assets/pdfs.html' %}

	      <hr class="featurette-divider">

			      	{% include 'partials/footer.html' %}

    </body>
</html>
