<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

      	{% include 'partials/head.html' %}

		<style>
			.container.marketing {
				margin-top:90px;
				
			}
		</style>

	</head>
    <body>
      	{% set navbar_inverse=true %}
      	{% include 'partials/navigation/navigation.html' %}
	    <div class="container">
    
			{%if page.more %}

			<div class="accordion" id="accordion">
			  <div class="accordion-group" style="border:none;">
			    <div id="collapseOne" class="collapse in" style="border:none;">
			      <div class="accordion-inner" style="border:none;padding:0;margin:0;">
					<div class="featurette" style="margin-bottom:80px;">
						{% for image in page.images %}
					   <!-- <img src="{{ image.url }}" class="featurette-image img-rounded pull-left" alt="{{ image.title }}" style="width:300px;" > -->
						{% endfor %}
						
				        <h1 class="featurette-heading">{{ page.title }} <span class="muted">{{ page.subtitle }}</span></h1>
					        {{ page.lead }}
							<button type="button" class="btn btn-inverse" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
							  <i class="icon-eye-open icon-white"></i> Click here to read {{ page.more }}
							</button>
				      </div>
				  </div>
			    </div>
			  </div>
			  <div class="accordion-group" style="border:none;">
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner" style="border:none;padding:0;margin:0;">
					<button type="button" class="btn pull-right" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
					  <strong>&times;</strong> Close {{ page.more }}
					</button>
			{% endif %}
	      		{{ page.content }}
			{%if page.more %}
	      	  </div>
		    </div>
		  </div>
		</div>
		<hr/>
			{% endif %}
			{% if page.pdf %}
			    <h6>PDF Downloads</h6>
			    {% for pdf in page.pdf %}
			      <p><i class="icon-file"></i> <a href="{{ pdf.url }}">{{ pdf.name }}</a></p>
			    {% endfor %}
			{% endif %}
	      <hr/>

			      	{% include 'partials/footer.html' %}

    </body>
</html>
