<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

      	{% include 'partials/head.html' %}

		<style>
			.container.marketing {
				margin-top:90px;
				
			}
		</style>

	</head>
    <body>

      {% include 'partials/navigation/navigation.html' %}

	   	<div class="container">

			<div class="page-header">
				<h1>{{ page.title }} <small>{{ page.date | date("Y") }}</small></h1>
			</div>
				
			<div class="row">
				<div class="span8">
					<div id="myCarousel" class="carousel slide carousel-fade">
						<!-- Carousel items -->
						<div class="carousel-inner">
					  	{% for image in page.images %}
							<div class="item {% if loop.first %}active{% endif %}">
								<img src="{{ resize_path( image.url, '1000', '1000', '16:9', 80) }}" alt="{{ image.title }}">
								{% if image.description %}
							      <em>{{ image.description }}</em>
							    {% endif %}
					   		</div>
						{% endfor %}
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
				<div class="span4">
					<!--<p class="lead">{{ page.lead }}</p>-->
					<p class="lead"><small>{{ page.materials }}</small></p>
					<small>{{ page.content }}</small>
				</div>
			</div>
			{% if page.pdf %}
				<hr/>
			    <h6>PDF Downloads</h6>
			    {% for pdf in page.pdf %}
			      <p><i class="icon-file"></i> <a href="{{ pdf.url }}">{{ pdf.name }}</a></p>
			    {% endfor %}
			{% endif %}
			<hr/>
	      	{% include 'partials/footer.html' %}
		</div>
    </body>
</html>

